* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #a3aba3;;
  line-height: 1.6;
}

section {
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
  background: rgba(186, 181, 106, 0.45);
  border-radius: 10px;
  border:1px solid black;
}

h1, h2, h3 {
  color: #333;
}
.social{
    display: flex;
    justify-content: center;
    gap: 15px;
}
a {
  text-decoration: none;
  color: darkolivegreen;
  margin-right: 10px;
}
.about {
  text-align: center;
}

.about img {
  border-radius: 50%;
  margin: 25px 0;
}
.skills ol,.skills ul{
    margin-left: 25px;
}
.form input,.form textarea{
    width: 20%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
}   
button{
    background-color:  rgb(227, 114, 21);
    color: rgb(171, 238, 56);
    padding: 5px 15px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 10px;
}
.table td,.table th{
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}
button:hover {
  background-color: rgb(42, 20, 2);
}
.download{
    display: inline-block;
    color: rgb(122, 122, 115);
    border: 1px solid ;
    border-radius: 25px;
    padding:10px;
    background-color: black;
    margin-left: 100px;
    margin-bottom: 10px;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
     background-color: #1e293b;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.nav-links a {
  color: white;
  margin-left: 20px;
  font-weight: bold;
}
.nav-links{
    display: flex;
     justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin: auto;
     flex-wrap: wrap;
}

.nav-links a:hover {
  text-decoration: underline;
}
html {
  scroll-behavior: smooth;
}
.dark {
  background-color: #121212;
  color: white;
}

.dark section {
  background-color: #1e1e1e;
}

.dark a {
  color: yellow;
}
.dark h2{
  color: rgb(74, 118, 156);
}
.dark h1{
  color: rgba(3, 109, 148, 0.39);
}
#darkbtn{
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;  
  margin-right: 100px;
}
@media (max-width: 600px) {
   .navbar {
    flex-direction: column;
    gap: 6px;
    padding: 10px 20px;   /* reduced */
  }

  .nav-links {
    flex-direction: row; /* keep links in one row */
    flex-wrap: wrap;     /* allow wrap if needed */
    justify-content: center;
    gap: 15px;

  section {
    padding: 20px;
  }

  .form input,
  .form textarea {
    width: 100%;
  }
}
}

#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  background-color: #1e293b;
  color: white;
  cursor: pointer;
  display: none; /* hidden by default */
}
/* @media (max-width: 480px) {
  .navbar {
    padding: 8px 15px;
    gap: 4px;
  }

  .nav-links {
    gap: 10px;
  }

  #darkBtn {
    padding: 6px 10px;
    font-size: 14px;
  }
} */
