* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgba(90, 131, 148, 0.638);
  line-height: 1.6;
}

section {
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
  background: white;
  border-radius: 10px;
  border:1px solid black;
}

h1, h2, h3 {
  color: #333;
}
.social{
    display: flex;
    justify-content: center;
    gap: 15px;
}
a {
  text-decoration: none;
  color: darkolivegreen;
  margin-right: 10px;
}
.about {
  text-align: center;
}

.about img {
  border-radius: 50%;
  margin: 25px 0;
}
.skills ol,.skills ul{
    margin-left: 25px;
}
.form input,.form textarea{
    width: 20%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 15px;
}   
button{
    background-color:  rgb(227, 114, 21);
    color: rgb(171, 238, 56);
    padding: 5px 15px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 10px;
}
.table td,.table th{
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}
button:hover {
  background-color: rgb(42, 20, 2);
}
.download{
    display: inline-block;
    color: rgb(122, 122, 115);
    border: 1px solid ;
    border-radius: 25px;
    padding:10px;
    background-color: black;
    margin-left: 100px;
    margin-bottom: 10px;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: darkolivegreen;
    position: sticky;
    top: 0;
}
.nav-links a {
  color: white;
  margin-left: 20px;
  font-weight: bold;
}
.nav-links{
    display: flex;
     justify-content: space-between;
    align-items: center;
    gap: 150px;
    margin: auto;
}

.nav-links a:hover {
  text-decoration: underline;
}
html {
  scroll-behavior: smooth;
}
.dark {
  background-color: #121212;
  color: white;
}

.dark section {
  background-color: #1e1e1e;
}

.dark a {
  color: yellow;
}
.dark h2{
  color: rgb(74, 118, 156);
}
.dark h1{
  color: rgba(3, 109, 148, 0.39);
}