* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background-color: #a3aba3;
  line-height: 1.6;
}

/* SECTIONS */
section {
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
  background: rgba(186, 181, 106, 0.45);
  border-radius: 10px;
  border: 1px solid black;
}

h1, h2, h3 {
  color: #333;
}

/* SOCIAL */
.social {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* LINKS */
a {
  text-decoration: none;
  color: darkolivegreen;
}

/* ABOUT */
.about {
  text-align: center;
}

.about img {
  border-radius: 50%;
  margin: 25px 0;
}

/* SKILLS */
.skills ol, .skills ul {
  margin-left: 25px;
}

/* FORM */
.form input,
.form textarea {
  width: 20%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 15px;
}

/* BUTTONS */
button {
  background-color: rgb(227, 114, 21);
  color: rgb(171, 238, 56);
  padding: 5px 15px;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
}

button:hover {
  background-color: rgb(42, 20, 2);
}

/* TABLE */
.table td, .table th {
  padding: 10px;
  border-radius: 5px;
}

/* DOWNLOAD */
.download {
  display: inline-block;
  color: rgb(122, 122, 115);
  border: 1px solid;
  border-radius: 25px;
  padding: 10px;
  background-color: black;
  margin-left: 100px;
  margin-bottom: 10px;
  text-align: center;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;

  align-items: center;
  padding: 15px 40px;
  background-color: #1e293b;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  /* gap: 25px; */
  gap: 160px;
}

.nav-links a {
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* DARK MODE */
.dark {
  background-color: #121212;
  color: white;
}

.dark section {
  background-color: #1e1e1e;
}

.dark a {
  color: yellow;
}

.dark h1 {
  color: #5fa8d3;
}

.dark h2 {
  color: #74c0fc;
}

/* DARK BUTTON */
#darkBtn {
  padding: 8px 12px;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  right: 40px;
  bottom: 15px;

}

/* SCROLL TO TOP */
#topBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  background-color: #1e293b;
  color: white;
  cursor: pointer;
  display: none;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

/* TABLET & SPLIT SCREEN */
@media (max-width: 1024px) {
  .navbar {
    flex-direction: column;
    gap: 8px;
    padding: 10px 20px;
  }

  .nav-links {
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  section {
    padding: 20px;
  }

  .form input,
  .form textarea {
    width: 100%;
  }

  #darkBtn {
    font-size: 14px;
  }
}
#error{
  color: red;
}